<% @risks.each do |risk| %>
    <div class="risk">
      <div class="name">
        <%= risk.name %>
      </div>
      <div class="description">
        <%= risk.description %>
      </div>
      <div class="category">
        <%= Risk.categories[risk.category] %>
      </div>
      <hr>
    </div>
<% end %>